version: 2
jobs:
  bootstrap-build:
    docker:
      - image: codesmithy/gcc-bootstrap-build-prerequisites:0.5.0
    steps:
      - run: 
          name: "Set CODESMITHYIDE environment variables"
          command: echo 'export CODESMITHYIDE="/codesmithyide"' >> $BASH_ENV
      - checkout:
          path: /codesmithyide/build-toolchains
      - run:
          name: Build
          command: cd /codesmithyide/build-toolchains/build/gnumake && make
      - run:
          name: Test build
          command: cd /codesmithyide/build-toolchains/tests/build/gnumake && make
      - run:
          name: Run the tests
          command: cd /codesmithyide/build-toolchains/tests/build/gnumake && ./CodeSmithyBuildToolchainsTests
  build:
    docker:
      - image: codesmithy/gcc-build-prerequisites:0.6.0
    steps:
      - run:
          name: "Set CODESMITHYIDE environment variables"
          command: echo 'export CODESMITHYIDE="/codesmithyide"' >> $BASH_ENV
      - checkout:
          path: /codesmithyide/build-toolchains
      - run:
          name: Build
          command: cd /codesmithyide/build-toolchains/build/gnumake && make
      - run:
          name: Test build
          command: cd /codesmithyide/build-toolchains/tests/build/gnumake && make
      - run:
          name: Run the tests
          command: cd /codesmithyide/build-toolchains/tests/build/gnumake && ./CodeSmithyBuildToolchainsTests
workflows:
  version: 2
  continuous_build:
    jobs:
      - bootstrap-build
      - build
  weekly_build:
    jobs:
      - bootstrap-build
      - build
    triggers:
      - schedule:
          cron: "0 8 * * 0"
          filters:
            branches:
              only:
                 - main
